<footer class="mt-auto bg-light py-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="fw-bold">Contact us</div>
        <a class="text-decoration-none" href="mailto:{{ site.contact.email }}">{{ site.contact.email }}</a>
      </div>
      <div class="col">
        <div class="fw-bold">Site map</div>
        <a class="d-block text-decoration-none" href="{{ "/" | relative_url }}">Home</a>
        <a class="d-block text-decoration-none" href="{{ "/pricing" | relative_url }}">Pricing</a>
        <a class="d-block text-decoration-none" href="{{ "/sign-up" | relative_url }}">Sign up</a>
      </div>
    </div>
  </div>
</footer>