<div class="row mb-3">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <label for="input-full-name"
           class="form-label">Your full name</label>
    <input type="email"
           class="form-control"
           id="input-full-name">
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <label for="input-email"
           class="form-label">Email address</label>
    <input type="email"
           class="form-control"
           id="input-email"
           placeholder="name@example.com">
  </div>
</div>
<div class="row mb-3">
  <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex justify-content-end">
    <button type="button" class="btn btn-outline-light">
      Sign up
    </button>
  </div>
</div>